@use '../abstracts' as a;

i {
    color: white;
    border-radius: 100vh;
    border: 1px solid white;
    padding: .5rem;
    margin: 5px;
    transition: all ease-out 400ms;

    &.fa-facebook-f {
        padding: .5rem 0.7rem;
    }

    &:hover {
        cursor: pointer;
        border: 1px solid a.$soft-magenta;
        color: a.$soft-magenta;
    }
}
