@use '../abstracts' as a;


/**
 * Basic typography style for copy text
 */


h1 {
    color: white;
    text-align: center;

    font: 800 1.5rem Poppins , sans-serif;

    @media (min-width: map-get(a.$breakpoints, 'medium')) {
        text-align: left;
        font-size: 2.5rem;
    }
}

p {
    color: white;
    text-align: center;
    font-size: clamp(1rem, 1.1rem, 1.3rem);
    font-family: Open Sans, serif;
    font-weight: 400;

    @media (min-width: map-get(a.$breakpoints, 'medium')) {
        text-align: left;
    }
}