@use '../abstracts/' as a;

// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer {
    display: grid;
    margin: 10px 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: a.$soft-magenta ;
}
